* {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #333;
}
.clear_fix {
    clear: both;
}
.title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}
.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 80px;
    height: 5px;
    background-color: #f9b500;
    z-index: 1;
}

.position_absolute {
    position: absolute;
}
.position_relative {
    position: relative;
}
a {
    text-decoration: none;  
    transition: all 0.2s;
}

b{
    transition: all 0.2s;
    font-weight: 700;
}
a :hover {
    color: #f9b500;
}
b :hover {
    color: #f9b500;
}
.article_title {
    padding-top: 20px;
}
.article_title a {
    font-size: 20px;
    font-weight: 700;
}
.info_bar {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0;
}
.info_bar li {
    display: inline-block;
    margin-right: 20px;
    line-height: 25px;
}
.text_muted {
    color: #888;
}
.text_yellow {
    color: #f9b500;
}

.app {
    width: 1200px;
}

@media (max-width:1199.98px) {
    .app {
        width: 992px;
    }
    
}
@media (max-width: 991.98px) {
    .app {
        width: 768px;
    }
    
}

@media (max-width: 767.98px) {
    .app {
        width: 576px;
    }
    
}

@media (max-width: 575.98px) {
    .app {
        padding: 0 15px;
        width: calc(100% - 30px);
    }
    
}

.header_logo {
    float: left;
    margin: 30px 0;
}
.header_menu {
    float: right;
}
.header_menu_item {
    display: inline;
}
.header_menu_item_link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
    color: #333 !important;
}

.show {
    display: inline-block !important;
}
 @media (max-width:767.98px) {
     .header_menu_burger {
         display: inline-block;
         margin-top: 50px;
         margin-left: 280px;
         /* float: right; */

     }
     .header_menu {
         display: none;
         width: 100%;         
     }
     .header_menu_item {
         display: block;
         border-bottom: 1px solid #cecece;
     }
     .header_logo {
         margin-bottom: 40px;
     }
     .header_menushow {
         margin-top: 40px;
     }
     
 }
.intro_row {
    width: 100%;
}
.intro_h_600px {
    height: 600px;
}
.intro_h_100 {
    height: 100%;
}
.intro_h_2_3 {
    height: calc(200%/3);
}
.intro_h_1_3 {
    height: calc(100%/3);
}
.intro_h_50:first-of-type {
    margin-bottom: 10px;

}
.intro_h_50 {
    height: calc(50% - 5px);
}

.intro_2_3_col {
    float: left;
    margin-right: 10px;
    width: calc(calc(200%/3) - 10px);
}
.intro_1_3_col {
    float: right;
    width: calc(100%/3);
}
.intro_1_3_item {
    width: 100%;
}
.intro_1_3_col_item {
    float: left;
    width: calc(100%/3);
}
.intro_1_3_col_item:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/3) - 20px);
}
.bg_1 {
    background: url("../images/slider-1-1200x900.jpg") no-repeat center;
    background-size: cover;
}


.bg_2 {
    background:url("../images/slider-2-450x600.jpg") no-repeat center;
    background-size: cover;
}
.bg_3 {
    background:url("../images/slider-3-450x600.jpg") no-repeat center;
    background-size: cover;
}
.bg_4{
    background:url("../images/slider-4-450x600.jpg") no-repeat center;
    background-size: cover;
}
.bg_5 {
    background:url("../images/slider-5-450x600.jpg") no-repeat center;
    background-size: cover;
}
.bg_6 {
    background: url("../images/slider-6-450x600.jpg") no-repeat center;
    background-size: cover;
}
.intro_item_caption {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.caption_title {
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.caption_title span {
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}
.caption_title b {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}
.caption_info_bar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0;
}

.caption_info_bar li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
}
.img_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.mr_10x {
    margin-right: 10px;
}
.mt_10x {
    margin-top: 10px;
}
.ml_10x {
    margin-left: 10px;
}
.mb_10x {
    margin-bottom: 10px;
}
@media (max-width:767.98px) {
    .intro_2_3_col {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .intro_1_3_col {
        width: 100%;
    }
    .intro_1_3_col_item {
        float: none;
        width: 100%;
    }
    .intro_1_3_col_item:nth-of-type(2) {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }
    .intro_h_600px ,
    .intro_h_100px ,
    .intro_h_50 ,
    .intro_h_2_3{
        height: auto;
    }
    .h_md_300px {
        height: 300px;
        margin-bottom: 10px;
    }

}

.container {
    width: 100%;
    margin-top: 50px;
}
.main {
    margin-right: 25px;
    width: calc(calc(200% /3) - 25px);
    float: left;
}
.main_news {
    margin-bottom: 20px;
}
.main_news_img {
    width: 100%;
}

.main_news_w_50 {
    float: left;
    width: calc(calc(100% /2) - 25px);
    margin-right: 25px;
}
.main_news_w_50:last-of-type {
    margin-right:0;
}
 
.sidebar {
    float: right;
    margin-left: 25px;
    width: calc(calc(100% /3) - 25px);
}
.sidebar_item {
    width: 100%;
    margin-bottom: 40px;
}
.sidebar_list {
    padding: 0;
    list-style-type: none;
}
.sidebar_list>li {
    text-align: center;
    background-color: #f9b500;
    margin-bottom: 1px;
    padding: 15px 0;
}
.popular_post{
    width: 100%;
    margin-bottom: 20px;
}
.popular_post_img {
    float: left;
    width: 100px;
    height: 100px;
}
.popular_post_title {
    float: right;
    width: calc(100% - 120px);
    margin-left: 20px;
}
.subscribe_form{
    margin-top: 20px;
} 
.subscribe_form_text {
    float: left;
    width: calc(100% - 73px);
    border: 1px solid #f9b500;
    padding: 13px 58px 13px 13px;
}
.subscribe_form button{
    float: right;
    width: 45px;
    height: 42px;
    margin-top: -43px;
    margin-right: 1px;
    border: none;
    text-align: center;
    background-color: #f9b500;
}
@media (max-width:991.98px) {
    .main {
        width: 100%;
        float: none;
        /* height: 1300px; */
        
    }
    .sidebar {
        width: 100%;
        float: none;
        margin: 0 auto;
        
    }
    .main_crypto_mining_news {
        height: 500px;
    }
    
}
.footer {
    background-color: #191919;
}
.bg_mp {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
}
.footer_row {
    width: 100%;
    background-color: rgba(25, 25, 25, 0.9);
}
.footer_col {
    margin-right: 30px;
    float: left;
    width: calc(calc(100% / 3) - 30px);
}
.footer_logo {
    float: left;
    height: 24px;
    margin: 28px 0;
}
.footer_p {
    color: #cccccc;
    line-height: 28px;
    font-size: 16px;
}
.footer_p_padding_20x {
    padding: 20px 0;
}
.footer_p a {
    color: #cccccc;
    font-size: 16px;
}
.footer_p a:hover {
    color: #f9b500;
}
.footer_section_title {
    color: #f9b500;
    padding: 30px 0;
}
.footer_section_link_item {
    margin-bottom: 20px;
}
.footer_section_link_item a {
    color: #cccccc;
    font-size: 14px;
}
.footer_section_link_item p {
    padding-top: 15px;
    font-size: 14px;
    color: #cccccc;
}
.footer_menu {
    padding: 0;
    width: 50%;
    float: left;
}
.footer_menu li {
    list-style-type: none;
    display: inline;
    color:#cccccc;
    padding: 0 20px 20px 0;
    font-size: 12px;
}
.footer_line{
    background-color: rgba(170, 170, 170, 0.2);
    height: 1px;
    margin-bottom: 20px;
}
.footer_menu a:hover{
    color: #f9b500;
}

@media (max-width:767.98px) {
    .footer_col {
        width: calc(100% - 30px);
        padding: 15px;
        float: none;
        margin-right: 0;
    }
    .footer_menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer_menu li {
        padding: 10px;
    }
    .footer_social_network {
        
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer_social_network li {
        padding: 10px;
    }
}






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































